body {
    font-family: Arial, sans-serif;
    display: flex;
    margin: 0;
    padding: 0;
}

.overlay {
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    align-items: center;
    justify-content: center;
    z-index: 1;
}

.modal {
    display: flex;
    flex-direction: column;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 400px;
    background-color: #ffffff;
    padding: 20px;
    border-radius: 15px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    text-align: center;
    z-index: 2;
}

.button {
    margin: 20px auto 0px auto;
    border-radius: 15px;
    height: 40px;
    width: 200px;
    background-color: white;
}

.alias {
    margin-top: 20px;
    height: 40px;
}

.chat-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid #ccc;
    padding: 10px;
    border-radius: 15px;
    margin-right: 20px;
    margin-top: 20px;
    min-width: 250px;
    height: 500px;
}

.messages-container {
    overflow-y: auto;
    overflow-x: hidden;
    padding-right: 20px;
    padding-left: 20px;
}

.message-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-top: 35px;
}

.yours {
    margin-right: 0px;
    text-align: right;
    color: red;
}

.message-text {
    margin-top: 10px;
    color: black;
}

.user-container {
    display: flex;
    margin-left: 20px;
    margin-top: 50px;
    margin-bottom: 20px;
    margin-right: -1px;
    flex-direction: column;
    align-self: flex-start;
    align-items: center;
    border: 1px solid #ccc;
    padding: 10px;
    border-radius: 15px 0 0 15px;
    max-width: 200px;
    min-width: 150px;
}

.user-card {
    display: flex;
    width: 100%;
    padding: 10px;
}

.user-avatar {
    width: 40px;
    min-width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 1px solid #ccc;
    background-color: #ececec;
    margin-bottom: 5px;
}

.user-name {
    margin: auto 10px;
}

.message-input {
    height: 50px;
    margin: 20px;
    width: 90%;
    border: 1px solid #ccc;
    border-radius: 15px;
}